<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container-fluid p-0">
      <div class="custom-header">
        <div class="row pb-2 pt-2">
          <button id='MyButton' type="button">Click Me!</button>
        </div>
      </div>
    </div>
</body>

</html>